<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
    <main>
        <div class="container">
            <h2 class="my-5">Usuario:<%=user.email%></h2>
            <h2 class="my-5">Password:<%=user.password%></h2>
            <h2 class="my-5">Grupo:<%=user.group.group%></h2>
            <h2 class="my-5">Avatar: <%=user.imagen%></h2>
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
