<%- include("partials/head") %>

<body class="d-flex flex-column min-vh-100">
    <%- include("partials/header") %>
    <main class="container">
        <h1 class="my-3 fw-bold">Mi carrito</h1>
        <div class="row">
            <div class="col-lg-8">
                <% for (let i=0; i < 1; i++) { %> <%- include
                ("products/product_card_h", {product:products[i]}) %> <% }%> <%
                for (let i=1; i < 2; i++) { %> <%- include
                ("products/product_card_h", {product:products[i]}) %> <% }%> <%
                for (let i=3; i < 4; i++) { %> <%- include
                ("products/product_card_h", {product:products[i]}) %> <% }%>
                 <% for (let i=0; i < 1; i++) { %> <%- include
                ("products/product_card_h", {product:products[i]}) %>  <% }%>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Resumen de Compra
                        </h5>
                        <div class="row justify-content-between">
                            <div class="col">
                                <h5 class="card-text">Subtotal</h5>
                            </div>
                            <div class="col">
                                <p class="card-text">$123.000</p>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col">
                                <h3 class="card-text">Total</h3>
                            </div>
                            <div class="col">
                                <h3 class="card-text">$123.000</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center my-2">
                    <a class="text-warning fw-bold" href="/products">
                        Compra mas productos
                    </a>
                </div>
                <button
                    class="btn btn-warning text-center my-1 w-100"
                    value="FINALIZAR COMPRA"
                >
                    FINALIZAR COMPRA
                </button>
            </div>
        </div>
    </main>

    <%- include("partials/footer") %>
</body>
