<%- include("../partials/head") %>

<body class="d-flex flex-column min-vh-100">
    <%- include("../partials/header") %>
    <main>
        <div class="container">
            <div class="my-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">
                            <%= product.category.category%>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%= product.name%>
                        </li>
                    </ol>
                </nav>
            </div>
            <section class="product my-5">
                <div class="container">
                    <div class="row">
                        <img
                            src="/images/products/<%= product.img  %>"
                            class="rounded float-start"
                            alt="ImagenProducto"
                            style="width: 400px"
                        />

                        <articles
                            class="padding_20 width_50 box_sizing_border_box col-sm"
                        >
                            <h3><%= product.category.category%></h3>
                            <h1><%= product.name%></h1>
                            <h2 class="padding_y_15 color_primary">
                                $<%=toThousand(product.price)%>
                            </h2>
                            <p class="grey"><%= product.description%></p>
                            <label for="quantity">Cantidad:</label>
                            <div class="row">
                                <div class="col-lg-2 mb-2">
                                    <select
                                        name="quantity"
                                        class="form-select form-select-sm form-control-lg"
                                    >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="col-lg-10">
                                    <button
                                        type="button"
                                        class="btn btn-warning"
                                    >
                                        AGREGAR AL CARRITO
                                    </button>
                                </div>
                                <% function EsAdmin(user,usuarios){ for (const i
                                of usuarios) { if(user != undefined){ if
                                (user.email == i.email && i.group_id == 1){
                                return true; } } } } %> <% if (EsAdmin(user,
                                usuarios)) { %>
                                <div class="d-grid gap-2 my-2">
                                    <a
                                        class="btn btn-outline-warning"
                                        href="/products/<%= product.id %>/edit "
                                        role="button"
                                        >EDITAR
                                    </a>
                                
                                <!-- Button trigger modal -->
                                <button
                                    type="button"
                                    class="btn btn-outline-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop"
                                >
                                    ELIMINAR
                                </button>

                                <!-- Modal -->
                                <div
                                    class="modal fade"
                                    id="staticBackdrop"
                                    data-bs-backdrop="static"
                                    data-bs-keyboard="false"
                                    tabindex="-1"
                                    aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true"
                                >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5
                                                    class="modal-title"
                                                    id="staticBackdropLabel"
                                                >
                                                    Estás seguro?
                                                </h5>
                                                <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"
                                                ></button>
                                            </div>

                                            <div class="modal-footer">
                                                <button
                                                    type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal"
                                                >
                                                    Me errepentí
                                                </button>
                                                <form
                                                    method="POST"
                                                    action="delete/?_method=DELETE"
                                                >
                                                    <button
                                                        type="submit"
                                                        class="btn btn-outline-danger"
                                                    >
                                                        ELIMINAR
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                

                                <% } %>
                            </div>
                        </articles>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
