<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
    <main>
        <div class="container">
            <div class="mt-1">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item"><%= product.category.category%></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%= product.name%>
                        </li>
                    </ol>
                </nav>
            </div>
            <section class="product mt-4">
                <div class="container">
                    <div class="row">
                        
                      <img src="<%= product.img  %>" class="rounded float-start" alt="ImagenProdudcto" style="width: 400px;">
                                                          

                        <articles
                            class="padding_20 width_50 box_sizing_border_box col-sm"
                        >
                            <h3><%= product.category.category%></h3>
                            <h1><%= product.name%></h1>
                            <h2 class="padding_y_15 color_primary">
                                $<%=toThousand(product.price)%>
                            </h2>
                            <p class="grey"><%= product.description%></p>
                            <label for="quantity">Cantidad:</label>
                            <div class="row">
                                <div class="col-lg-2 mb-2">
                                    <select
                                        name="quantity"
                                        class="form-select form-select-sm form-control-lg"
                                    >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="col-lg-10">
                                    <button
                                        type="button"
                                        class="btn btn-warning"
                                    >
                                        AGREGAR AL CARRITO
                                    </button>
                                </div>
                            </div>
                        </articles>
                    </div>
                </div>
            </section>
           
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
