<div class="col-lg-3 mb-4">
    <div class="card">
        <img
            src="/images/products/<%= products.img%>"
            class="card-img-top"
            alt="Card image cap"
        />
        <div class="card-body text-center">
            <h5 class="card-title"><%= product.name%></h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">
                <%= product.category%>
            </h6>
            <h2 class="pricing-card-title">$<%=toThousand(product.price)%></h2>
            <a
                href="/products/<%= product.id%>/detail"
                class="btn w-100 btn-warning"
                >Ver producto</a
            >
        </div>
    </div>
</div>
