<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
    <main>
        <div class="container">
            <section class="breadcrumb padding_y_15">
                Inicio > <%= product.category.category%> > <%= product.name%>
            </section>
            <section class="container">
                <div class="container">
                    <div class="row">
                                                   
                        </div>

                        <articles
                            class="my3"
                        >
                            <h3><%= product.category.category%></h3>
                            <h1><%= product.name%></h1>
                            <h2 class="p3 color_primary">
                                $<%=toThousand(product.price)%>
                            </h2>
                            <p class="grey"><%= product.description%></p>

                            <form method="POST" action="?_method=DELETE">
                                <button type="submit" class="btn btn-danger">
                                    Borrar
                                </button>
                            </form>
                        </articles>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
