<div class="card text-center shadow-sm" style="width: 14rem">
    <img
        src="/images/products/<%= product.image%>"
        class="card-img-top"
        alt="..."
    />
    <div class="card-body">
        <h5 class="card-title"><%= product.name%></h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">
            <%= product.category%>
        </h6>
        <h2 class="pricing-card-title">$<%=toThousand(product.price)%></h2>
        <a
            href="/products/<%= product.id%>/detail"
            class="btn w-100 btn-warning"
            >Ver producto</a
        >
    </div>
</div>
