<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
    <main>
        <div class="container">
            <section class="breadcrumb padding_y_15">
                Inicio > <%= product.category%> > <%= product.name%>
            </section>
            <section class="product mt-4">
                <div class="container">
                    <div class="row">
                        <div
                            id="carouselControls"
                            class="carousel slide col-sm"
                            data-bs-ride="carousel"
                        >
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img
                                        src="/images/products/<%= product.image%>"
                                        alt="<%= product.name%>"
                                        class="d-block w-100"
                                        alt="..."
                                    />
                                </div>
                                <div class="carousel-item">
                                    <img
                                        src="/images/products/<%= product.image%>"
                                        alt="<%= product.name%>"
                                        class="d-block w-100"
                                        alt="..."
                                    />
                                </div>
                                <div class="carousel-item">
                                    <img
                                        src="/images/products/<%= product.image%>"
                                        alt="<%= product.name%>"
                                        class="d-block w-100"
                                        alt="..."
                                    />
                                </div>
                            </div>
                            <a
                                class="carousel-control-prev"
                                href="#carouselControls"
                                role="button"
                                data-bs-slide="prev"
                            >
                                <span
                                    class="carousel-control-prev-icon"
                                    aria-hidden="true"
                                ></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a
                                class="carousel-control-next"
                                href="#carouselControls"
                                role="button"
                                data-bs-slide="next"
                            >
                                <span
                                    class="carousel-control-next-icon"
                                    aria-hidden="true"
                                ></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>

                        <articles
                            class="padding_20 width_50 box_sizing_border_box col-sm"
                        >
                            <h3><%= product.category%></h3>
                            <h1><%= product.name%></h1>
                            <h2 class="padding_y_15 color_primary">
                                $<%=toThousand(product.price)%>
                            </h2>
                            <p class="grey"><%= product.description%></p>

                            <form method="POST" action="?_method=DELETE">
                                <button type="submit" class="btn btn-danger">
                                    Borrar
                                </button>
                            </form>
                        </articles>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
